<launch>

  <arg name="output_file"    default="$(find robot_recorder)/doc/recordings/test_move.json"/>
  <arg name="throttle_value" default="0.1" />
  <arg name="throttle_hz"    default="3" />

  <node pkg="topic_tools" type="throttle" name="throttle_joints_by_rate" args="messages joint_states $(arg throttle_hz)"/>

  <node pkg="tf" type="tf_change_notifier" name="tf_to_map_throttle"/>

  <node pkg="robot_recorder" type="throttle_joints_by_change" name="throttle_joints_by_change" args="$(arg throttle_value)">
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>

  <node pkg="robot_recorder" type="record_robot" name="record_robot" args="$(arg throttle_hz) $(arg output_file)" output="screen">
    <remap from="joint_states" to="joint_states_changes"/>
  </node>


</launch>
