<launch>

  <arg name="manual"          default="true" />
  <arg name="output_name"     default=""/>
  <arg name="throttle_hz"     default="10" />
  <arg name="throttle_value"  default="0.05" />
  <arg name="pause_timestep"  default="0.1" />
  <arg name="pause_threshold" default="3" />
  <arg name="round_digits"    default="3" />

  <node pkg="topic_tools" type="throttle" name="throttle_joints_by_rate" args="messages joint_states $(arg throttle_hz)"/>

  <node pkg="tf" type="tf_change_notifier" name="tf_to_map_throttle"/>

 <node pkg="recordit" type="throttle_joints_by_change" name="throttle_joints_by_change">
    <param name="throttle_value" type="double" value="$(arg throttle_value)"/>
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>

  <node pkg="recordit" type="recordit" name="robot_recorder" output="screen">
    <param name="manual"          type="bool"   value="$(arg manual)"/>
    <param name="output_name"     type="str"    value="$(arg output_name)"/>
    <param name="pause_timestep"  type="double" value="$(arg pause_timestep)"/>
    <param name="pause_threshold" type="double" value="$(arg pause_threshold)"/>
    <param name="round_digits"    type="int"    value="$(arg round_digits)"/>
    <remap from="joint_states" to="joint_states_changes"/>
  </node>

</launch>
