<launch>

  <arg name="output_file"    default="$(find recordit)/recording.json"/>
  <arg name="throttle_value" default="0.5" />
  <arg name="throttle_hz"    default="20" />
  <arg name="manual"         default="false" />

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 odom map 1"/>

  <node pkg="topic_tools" type="throttle" name="throttle_joints_by_rate" args="messages joint_states $(arg throttle_hz)"/>

  <node pkg="tf" type="tf_change_notifier" name="tf_to_map_throttle">
    <param name="polling_frequency" type="double" value="10"/>
    <param name="translational_update_distance" type="double" value="0.02"/>
    <param name="angular_update_distance" type="double" value="0.02"/>
  </node>

  <node pkg="recordit" type="throttle_joints_by_change" name="throttle_joints_by_change" args="$(arg throttle_value)">
    <remap from="joint_states" to="joint_states_throttle"/>
  </node>

  <node pkg="recordit" type="robot_recorder_node" name="robot_recorder" args="$(arg throttle_hz) $(arg output_file) $(arg manual)" output="screen">
    <remap from="joint_states" to="joint_states_changes"/>
  </node>


</launch>
